---
import Layout from '../layouts/Layout.astro';
import Header from '../components/react/Header';
import Hero from '../components/astro/Hero.astro';
import About from '../components/astro/About.astro';
import Sides from '../components/react/Sides';
import Drawer from '../components/react/Drawer';
---

<Layout title='Amir Adel | Software Developer'>
  <div class='h-full'>
    <Hero />
    <Header client:load />
    <main
      id='main'
      class='relative h-screen w-fullflexjustify-centeritems-center'
    >
      <About />
    </main>
    <Sides client:load />
  </div>
</Layout>
