---
import Layout from '../layouts/Layout.astro';
import Header from '../components/react/hero/Header';
import Hero from '../components/astro/Hero.astro';
import About from '../components/astro/About.astro';
---

<Layout title='Amir Adel | Software Developer'>
  <div class='h-screen'>
    <Hero />
    <Header client:load />
    <main
      id='main'
      class='relative h-screen w-full flex justify-center items-center'
    >
      <About />
    </main>
  </div>
</Layout>
