---
import Layout from '../layouts/Layout.astro';
import Header from '../components/react/Header';
import Hero from '../components/astro/Hero.astro';
import About from '../components/astro/About.astro';
import Sides from '../components/react/Sides';
import Work from '../components/astro/Work.astro';
---

<Layout title='Amir Adel | Software Developer'>
  <main>
    <Header client:idle />
    <Hero />
    <About />
    <Work />
    <Sides client:idle />
  </main>
</Layout>
